<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">
        <span class="glyphicon glyphicon-tint" aria-hidden="true"></span>
      </a>
      <a class="navbar-brand" href="#">SKYHOOK PAINTING</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">Our Services</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Gallery</a></li>
        <li><a href=""><strong>Call us now: 9999 9999</strong></a></li>
      </ul>
    </div>
    <!--/.navbar-collapse -->
  </div>
</nav>
